<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tw.edu.ntub.birc.fun_sin_chin">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.front" />
    <uses-feature android:name="android.hardware.camera2" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.flash" android:required="false" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name= "android.permission.INTERNET" />
        <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:label="FUN心吃"
        android:icon="@mipmap/launcher_icon"
        android:requestLegacyExternalStorage="true"
        >
                <service android:name="dev.cruv.ringtone_player.PlayerService" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
           
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              android:hardwareAccelerated="true"

              />
          
            <meta-data
              android:name="io.flutter.embedding.android.SplashScreenDrawable"
              android:resource="@drawable/launch_background"
              android:hardwareAccelerated="true"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"
                android:hardwareAccelerated="true"
                />
            </intent-filter>
        </activity>
      
        <meta-data
            android:name="flutterEmbedding"
            android:value="2"                           
            android:hardwareAccelerated="true"
            />
            <uses-library android:name="org.apache.http.legacy" android:required="false"
            
            />
    </application>
</manifest>